@{
    ViewBag.Title = "Home Page";
}

<div ng-app="plunker">
    <div ng-controller="MainCtrl">


        <div style="margin-left:auto; margin-right:auto; text-align:center"><h1>It is an All Data</h1></div>

 
        <hr />
        <div>Total count: {{totalItems}}</div>
        <table id="mytable" class="table table-striped">
            <thead>
                <tr class="table-head">
                    <th>Id</th>
                    <th>IP Address</th>
                    <th>Compani Name</th>
                    <th>Log Time</th>
                    <th>Type Of Request</th>
                    <th>Result Of Request</th>
                    <th>Path To File</th>
                    <th>Size Of File</th>
                    <th>Title Page</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in Logs">
                    <th>
                        <div>
                            {{item.LogId}}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{item.IPAddressString}}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{item.CompaniName}}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{item.LogTime}}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{item.TypeOfRequest}}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{item.ResultOfRequest}}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{item.PathToFile}}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{item.SizeOfFile}}
                        </div>
                    </th>
                    <th>
                        <div>
                            {{item.TitlePage}}
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>

        <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="true"></uib-pagination>


    </div>
</div>



<script src="~/Scripts/Controllers/LogsController.js"></script>